---
import Main from '../components/Main.svelte';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<Main>
        <div class="prose prose-xl overflow-hidden flex flex-col mt-24 text-white mx-auto">
            <h2 class="text-purple-200">Who We Are</h2>
            <p>
                We are a mutli award winning music studio that has a client focus attitude. We have a multinational team with an emphasis on being the best in each of their respective fields.

                We have worked with some of the biggest artists and music companies in the business. Let our next one be you.
            </p>
            <h2 class="text-purple-200">What We Do</h2>
            <p>
                We take your music and step it up to the next level with professional Producing, Mastering, Mixing and everything in between. We listen to your dreams and make them a reality.
            </p>
        </div>
    </Main>
</Layout>