---
import Main from '../components/Main.svelte';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<Main>
        <div class="prose prose-xl overflow-hidden flex flex-col mt-64 text-white mx-auto">
            <h3 class="text-center text-purple-200">Under construction. Hold on tight.</h3>
        </div>
    </Main>
</Layout>