---
import LandingHero from '../components/LandingHero.svelte';
import Main from '../components/Main.svelte';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<Main>
        <LandingHero />
    </Main>
</Layout>